extends admin-panel-layout

block content
  .form-container
    h2 Registrar Estudiante

    
    if error
      p.alert.alert-danger(style="color:red") #{error}
    if success
      p.alert.alert-success(style="color:green") #{success}

    form.form-edicion(action="/admin/register-students" method="POST")
      .form-group
        label(for="studentName") Nombre:
        input.input-text(
          type="text"
          id="studentName"
          name="studentName"
          value=formData && formData.studentName ? formData.studentName : ''
          required
          autocomplete="given-name"
        )

      .form-group
        label(for="studentLastname") Apellido:
        input.input-text(
          type="text"
          id="studentLastname"
          name="studentLastname"
          value=formData && formData.studentLastname ? formData.studentLastname : ''
          required
          autocomplete="family-name"
        )

      .form-group
        label(for="dni") DNI:
        input.input-text(
          type="text"
          id="dni"
          name="dni"
          value=formData && formData.dni ? formData.dni : ''
          required
          autocomplete="off"
        )

      .form-group
        label(for="email") Correo electrónico:
        input.input-text(
          type="email"
          id="email"
          name="email"
          value=formData && formData.email ? formData.email : ''
          required
          autocomplete="email"
        )

      .form-group
        label(for="tel") Teléfono:
        input.input-text(
          type="tel"
          id="tel"
          name="tel"
          value=formData && formData.tel ? formData.tel : ''
          required
          autocomplete="tel"
        )

      .form-group
        button.btn(type="submit") Registrar Estudiante
